<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.app.mapper.YztRegistorMapper">
  <resultMap id="BaseResultMap" type="com.yzt.app.model.YztRegistor">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="is_mobile" jdbcType="VARCHAR" property="isMobile" />
     <result column="is_password" jdbcType="VARCHAR" property="isPassword" />
    <result column="is_verify_code" jdbcType="VARCHAR" property="isVerifyCode" />
    <result column="sms_id" jdbcType="VARCHAR" property="smsId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="overdue_time" jdbcType="TIMESTAMP" property="overdueTime" />
    <result column="regist_time" jdbcType="TIMESTAMP" property="registTime" />
    <result column="request_count" jdbcType="INTEGER" property="requestCount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="modfiytime" jdbcType="TIMESTAMP" property="modfiytime" />
    <result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
    <result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
  </resultMap>
</mapper>