<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.app.mapper.YztBabyMapper">
  <resultMap id="BaseResultMap" type="com.yzt.app.model.YztBaby">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="zodiac" jdbcType="VARCHAR" property="zodiac" />
    <result column="yzt_user_id" jdbcType="VARCHAR" property="yztUserId" />
    <result column="constellation" jdbcType="VARCHAR" property="constellation" />
    <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modfiytime" jdbcType="TIMESTAMP" property="modfiytime" />
    <result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
    <result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
  </resultMap>
</mapper>