<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.app.mapper.YztChoicenesscontentCommentMapper">
  <resultMap id="BaseResultMap" type="com.yzt.app.model.YztChoicenesscontentComment">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="yzt_choicenesscontent_id" jdbcType="VARCHAR" property="yztChoicenesscontentId" />
    <result column="yzt_user_id" jdbcType="VARCHAR" property="yztUserId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="anonymity" jdbcType="INTEGER" property="anonymity" />
    <result column="commenttype" jdbcType="INTEGER" property="commenttype" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modfiytime" jdbcType="TIMESTAMP" property="modfiytime" />
    <result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
    <result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
  </resultMap>
</mapper>