<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.app.mapper.YztCommodityMapper">
  <resultMap id="BaseResultMap" type="com.yzt.app.model.YztCommodity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="integral_value" jdbcType="VARCHAR" property="integralValue" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    <result column="isrepetition" jdbcType="INTEGER" property="isrepetition" />
    <result column="is_count" jdbcType="INTEGER" property="isCount" />
    <result column="is_sell_count" jdbcType="INTEGER" property="isSellCount" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modfiytime" jdbcType="TIMESTAMP" property="modfiytime" />
    <result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
    <result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
  </resultMap>
  
  <!-- 修改,SQL更新 -->
	<update id="updateBySql" parameterType="java.lang.String" >
		 update yzt_commodity  ${sql}
	</update>
</mapper>