<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.app.mapper.YztIndexPicMapper">
  <resultMap id="BaseResultMap" type="com.yzt.app.model.YztIndexPic">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="maintitle" jdbcType="VARCHAR" property="maintitle" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="logo_href" jdbcType="VARCHAR" property="logoHref" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modfiytime" jdbcType="TIMESTAMP" property="modfiytime" />
    <result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
    <result column="modify_userid" jdbcType="VARCHAR" property="modifyUserid" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
  </resultMap>
  <!-- 修改,SQL更新 -->
	<update id="updateBySql" parameterType="java.lang.String" >
		 update yzt_index_pic  ${sql}
	</update>
</mapper>